<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.liuyun.elearning.core.dao.system.OrgDao">

	<resultMap id="OrgMap" type="com.liuyun.elearning.domain.model.system.OrgVO">
        <result property="orgId" column="org_id" jdbcType="BIGINT"/>
        <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
        <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
        <result property="orgFullName" column="org_full_name" jdbcType="VARCHAR"/>
        <result property="orgRole" column="org_role" jdbcType="CHAR"/>
        <result property="orgLevel" column="org_level" jdbcType="VARCHAR"/>
        <result property="orgType" column="org_type" jdbcType="VARCHAR"/>
        <result property="orgAttribute" column="org_attribute" jdbcType="VARCHAR"/>
        <result property="orgGeoZone" column="org_geo_zone" jdbcType="VARCHAR"/>
        <result property="orgParentId" column="org_parent_id" jdbcType="BIGINT"/>
        <result property="orderNum" column="order_num" jdbcType="BIGINT"/>
        <result property="orgStatus" column="org_status" jdbcType="CHAR"/>
        <result property="orgSource" column="org_source" jdbcType="VARCHAR"/>
        <result property="createId" column="create_id" jdbcType="BIGINT"/>
        <result property="createDate" column="create_date" jdbcType="DATETIME"/>
        <result property="updateDate" column="update_date" jdbcType="DATETIME"/>
        <result property="dataSource" column="data_source" jdbcType="VARCHAR"/>
        <result property="deleteFlat" column="delete_flat" jdbcType="TINYINT"/>
	</resultMap>
	
	<!-- 所有列 -->
	<sql id="allColumns">
	    org_id,
	    org_code,
	    org_name,
	    org_full_name,
	    org_role,
	    org_level,
	    org_type,
	    org_attribute,
	    org_geo_zone,
	    org_parent_id,
	    order_num,
	    org_status,
	    org_source,
	    create_id,
	    create_date,
	    update_date,
	    data_source,
	    delete_flat
	</sql>
	
	<!-- 共用的查询条件 -->
	<sql id="where">
        <where>
           	<if test="orgId neq null">
                AND org_id = #{orgId}
            </if>
           	<if test="orgCode neq null">
                AND org_code = #{orgCode}
            </if>
           	<if test="orgName neq null">
                AND org_name = #{orgName}
            </if>
           	<if test="orgFullName neq null">
                AND org_full_name = #{orgFullName}
            </if>
           	<if test="orgRole neq null">
                AND org_role = #{orgRole}
            </if>
           	<if test="orgLevel neq null">
                AND org_level = #{orgLevel}
            </if>
           	<if test="orgType neq null">
                AND org_type = #{orgType}
            </if>
           	<if test="orgAttribute neq null">
                AND org_attribute = #{orgAttribute}
            </if>
           	<if test="orgGeoZone neq null">
                AND org_geo_zone = #{orgGeoZone}
            </if>
           	<if test="orgParentId neq null">
                AND org_parent_id = #{orgParentId}
            </if>
           	<if test="orderNum neq null">
                AND order_num = #{orderNum}
            </if>
           	<if test="orgStatus neq null">
                AND org_status = #{orgStatus}
            </if>
           	<if test="orgSource neq null">
                AND org_source = #{orgSource}
            </if>
           	<if test="createId neq null">
                AND create_id = #{createId}
            </if>
           	<if test="createDate neq null">
                AND create_date = #{createDate}
            </if>
           	<if test="updateDate neq null">
                AND update_date = #{updateDate}
            </if>
           	<if test="dataSource neq null">
                AND data_source = #{dataSource}
            </if>
           	<if test="deleteFlat neq null">
                AND delete_flat = #{deleteFlat}
            </if>
        </where>
    </sql>
	
	<!-- 根据唯一id获取实体对象 -->
    <select id="getById" resultMap="OrgMap">
		SELECT 
			<include refid="allColumns" />
	    FROM tbl_org 
        WHERE 
	        org_id = #{id} 
	</select>
	
	<!-- 根据查询参数获取数据总行数 -->
	<select id="countByParam" resultType="long">
        SELECT count(0) 
		FROM tbl_org 
		<include refid="where"/>    
    </select>
    
	
	<!-- 根据查询参数分页获取数据集合 -->
	<select id="findPageByParam" resultMap="OrgMap">
        SELECT
            <include refid="columns" />
        FROM
            tbl_org 
        <include refid="where"/>
        LIMIT #{page.offset},#{page.limit}        
    </select>
  
    
    <!-- 批量修改信息 -->
    <update id="update">
       	UPDATE
               tbl_org
           <set>
               <if test="orgCode neq null">
               	 org_code = #{orgCode} ,
               </if>
               <if test="orgName neq null">
               	 org_name = #{orgName} ,
               </if>
               <if test="orgFullName neq null">
               	 org_full_name = #{orgFullName} ,
               </if>
               <if test="orgRole neq null">
               	 org_role = #{orgRole} ,
               </if>
               <if test="orgLevel neq null">
               	 org_level = #{orgLevel} ,
               </if>
               <if test="orgType neq null">
               	 org_type = #{orgType} ,
               </if>
               <if test="orgAttribute neq null">
               	 org_attribute = #{orgAttribute} ,
               </if>
               <if test="orgGeoZone neq null">
               	 org_geo_zone = #{orgGeoZone} ,
               </if>
               <if test="orgParentId neq null">
               	 org_parent_id = #{orgParentId} ,
               </if>
               <if test="orderNum neq null">
               	 order_num = #{orderNum} ,
               </if>
               <if test="orgStatus neq null">
               	 org_status = #{orgStatus} ,
               </if>
               <if test="orgSource neq null">
               	 org_source = #{orgSource} ,
               </if>
               <if test="createId neq null">
               	 create_id = #{createId} ,
               </if>
               <if test="createDate neq null">
               	 create_date = #{createDate} ,
               </if>
               <if test="updateDate neq null">
               	 update_date = #{updateDate} ,
               </if>
               <if test="dataSource neq null">
               	 data_source = #{dataSource} ,
               </if>
               <if test="deleteFlat neq null">
               	 delete_flat = #{deleteFlat} 
               </if>
           </set>
           WHERE
               org_id = #{orgId} 
    </update>
    
    <!-- 批量插入数据 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="orgId">
        INSERT INTO tbl_org (
          org_id,
          org_code,
          org_name,
          org_full_name,
          org_role,
          org_level,
          org_type,
          org_attribute,
          org_geo_zone,
          org_parent_id,
          order_num,
          org_status,
          org_source,
          create_id,
          create_date,
          update_date,
          data_source,
          delete_flat
        ) VALUES 
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
          #{orgId},
          #{orgCode},
          #{orgName},
          #{orgFullName},
          #{orgRole},
          #{orgLevel},
          #{orgType},
          #{orgAttribute},
          #{orgGeoZone},
          #{orgParentId},
          #{orderNum},
          #{orgStatus},
          #{orgSource},
          #{createId},
          #{createDate},
          #{updateDate},
          #{dataSource},
          #{deleteFlat}
        </foreach>
    </insert>
    
    <!-- 批量删除信息 -->
    <delete id="deleteByIds">
		UPDATE tbl_org 
		  SET delete_flag=1
		WHERE
        org_id in 
        <foreach collection="list" item="id" index="index" separator="," open="(" close=")">
         #{id,jdbcType=BIGINT}               	 
        </foreach>
    </delete>
</mapper>

